.picture
	.picture__titleWrap
		h1.picture__title RUSSIAN<br/><span>ART GALLERY</span>
	.picture__infoWrap
		p.picture__info Choose an artist in our gallery and study their paintings together with reading their history.