.sliderWrap
	.slides
		+exhibitSlide('alexander', '1886', 'Alexander III receiving rural district elders')
		+exhibitSlide('cossacks', '1891', 'Reply of the Zaporozhian Cossacks')
		+exhibitSlide('council', '1903', 'Ceremonial Sitting of the State Council')
		+exhibitSlide('ivan', '1885', 'Ivan the Terrible and His Son Ivan')
		+exhibitSlide('myra', '1888', 'Nicholas saves three innocent convicts')