* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0;
}

@import '_variables/_variables.scss';
@import 'linkFonts/_vienna.scss';

body {
	cursor: none;
}

a {
	text-decoration: none;
	cursor: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	background-color: $palette-secondary;
}

@import 'cursor/_cursor.scss';
@import 'menu/_menu.scss';
@import 'mainLink/_mainLink.scss';