.sliderWrap
	.slides
		+exhibitSlide('bogatyrs', '1898', 'Bogatyrs')
		+exhibitSlide('igor', '1880', 'After the battle of Igor Svyatoslavich with the Polovtsians')
		+exhibitSlide('knight', '1882', 'Knight at the Crossroads')
		+exhibitSlide('preference', '1879', 'Preference')