- var genre = 'Folklorist'
- var name = 'viktor'
- var surname = 'vasnetsov'
- var pictureName = 'After the battle of Igor Svyatoslavich'
- var fullBirthDate = '15.05.1848'
- var fullDeathDate = '23.07.1926'