.sliderWrap
	.slides
		+exhibitSlide('ball', '1842', 'Countess Samoylova')
		+exhibitSlide('rider', '1832', 'Rider')
		+exhibitSlide('pompeii', '1833', 'The Last Day of Pompeii')
		+exhibitSlide('strugovschikov', '1840', 'Portrait of A. N. Strugovshchikov')
		+exhibitSlide('general', '1837', 'General-adjutant Count V.A.Perovsky')