.sliderWrap
	.slides
		+exhibitSlide('morning', '1889', 'Morning in a Pine Forest')
		+exhibitSlide('oakGrove', '1887', 'Oak Grove')
		+exhibitSlide('lodge', '1870', 'Lodge in the forest')
		+exhibitSlide('rain', '1891', 'Rain in an Oak Forest')
		+exhibitSlide('polesie', '1884', 'Polesie')