.sliderWrap
	.slides
		+exhibitSlide('samarkand', '1888', 'Russian troops taking Samarkand in 1868')
		+exhibitSlide('crossing', '1889', 'Russian troops crossing Amu Darya in 1873')
		+exhibitSlide('hike', '1888', 'Russian troops crossing the death sands to the wells of Adam-Krylgan')
		+exhibitSlide('metro', '1902', 'Project of Moscow Metro')