- var genre = 'Battle'
- var name = 'nikolay'
- var surname = 'karazin'
- var pictureName = 'Russian troops taking Samarkand in 1868'
- var fullBirthDate = '9.12.1842'
- var fullDeathDate = '19.12.1908'