.sliderWrap
	.slides
		+exhibitSlide('adam', '1803', 'Adam and Eve with their children')
		+exhibitSlide('hero', '1810', 'The Young Hero from Kiev')
		+exhibitSlide('mstislav', '1812', 'Prince Mstislav defeating Rededya')
		+exhibitSlide('pelopidas', '1805', 'Death of Pelopidas')
		+exhibitSlide('vladimir', '1829', 'The christening of Grand Duke Vladimir')