html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/gallery/_linkGallery.pug
	body
		.container
			include template/partials/cursor/_cursor.pug
			include template/partials/menu/_menu.pug
			include template/partials/gallery/_annotationArray.pug
			include template/partials/gallery/_exhibit.pug
		include template/partials/_jsLibraries.pug
		include template/partials/_mainScripts.pug