html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/mainPage/_linkMainPage.pug
	body
		//- include template/partials/preload/_preload.pug
		.container
			include template/partials/cursor/_cursor.pug
			include template/partials/menu/_menu.pug
			include template/partials/mainPage/_picture.pug
		include template/partials/_jsLibraries.pug
		include template/partials/_mainScripts.pug