html
	head
		include template/head.pug
		include template/partials/_general.pug
		include template/partials/mainPage/_linkMainPage.pug
	body
		.container
			include template/partials/mainPage/_picture.pug