.sliderWrap
	.slides
		+exhibitSlide('apotheosis', '1871', 'The Apotheosis of War')
		+exhibitSlide('requiem', '1879', 'Defeated. Requiem')
		+exhibitSlide('shipka', '1879', 'The battlefield at Shipka')
		+exhibitSlide('attack', '1871', 'Surprise Attack')
		+exhibitSlide('plevna', '1881', 'Before the attack. Under Plevna.')