@media screen and (max-width: 1120px) {
	.contactTitle {
		margin-top: 25%;
	}
	
	.contactInfo {

		.adressWrap,
		.contactWrap,
		.linkWrap {
			margin-top: 5%;
			width: 100%;
			font-size: 3.5vw;
		}
	}
}