.sliderWrap
	.slides
		+exhibitSlide('Kronstadt_RAID', '1840', 'The Kronstadt Raid')
		+exhibitSlide('Storm_over_Evpatoria', '1869', 'Storm over Evpatoria')
		+exhibitSlide('Coffee_house', '1846', 'Coffee-house in Constantinople')
		+exhibitSlide('Battle_of_Navarino', '1848', 'Battle of Navarino')
		+exhibitSlide('Review', '1886', 'Review of the black sea fleet in 1849')
		+exhibitSlide('Stormy_Sea_at_Night', '1849', 'Stormy Sea at Night')
		+exhibitSlide('The_Russian_Squadron', '1846', 'The Russian Squadron on the Sebastopol Roads')
		+exhibitSlide('Chesmabattle', '1856', 'Battle of Çesme at Night')