<div class="contactInfo">
	<div class="adressWrap">5500 Stevens Ave,<br/>Minneapolis, MN 55419,<br/>United States</div>
	<div class="contactWrap">
		<span>Phone:</span> +1 612-821-9045<br/>
		<span>Established:</span> 005<br/>
		<span>Nearest car park:</span> Free public lot
	</div>
	<div class="linkWrap">
		<a href="index.html">https://artGallery.com/</a>
	</div>
</div>